extends /layout/_DefaultLayout

prepend ConfigBlock
  - page_name = ''

//- append StylesheetBlock

//- append JavascriptBlock

block ContentBlock
    ul
        script(id="hidden-template" type="text/x-custom-template")
           li
               button.js-btn-countUp +
               span count:
               span#counter_result_id
